*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter' , sans-serif;
    background-color: #F5F5F7;

}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-btn{
    margin: 0 auto;
    padding: 11px 19px 10px 23px;
    background-color:  #F0EDFF;
    cursor: pointer;
    border-radius: 8px;


    & a{
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        color: #5B47D1;
        text-align: center;

    }
}

.tech-btn:hover{
        background-color: #DCD7FF;
        transition: background-color 0.3s ease;
    }
    


nav {
    text-align: center;
    
    & ul{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 25px;
        align-items: center;
    }



    & a {
        text-decoration: none;
        color: #000;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }

        & li:not(:first-child) > a:hover {
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }

/* Main Content */
.hero {
    width: 100%;
    height: clamp(1rem, -4.238rem + 24.365vw, 25rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(assets/hero.jpg);
    background-size: cover;
    background-position: center;

    & h1 {
        font-size: 48px;
        margin-bottom: 37px;
        color: #fff;
        font-weight: 900;
        line-height: 100%;
    }
    
    & p {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
    }
}

.latest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    gap: 30px;
    width: clamp(1rem, -15.698rem + 77.665vw, 77.5rem);

    & h2 {
        font-size: 36px;
        margin-bottom: 20px;
        font-weight: 900;
        color: #000
    }
}
.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    & a{
        text-decoration: none;
        display: flex;
    }

    & a:hover .card{
        transform: translateY(-10px) ;
        transition: transform 0.3s ease;
    }
    
}
.card{
    width: clamp(1rem, -3.693rem + 21.827vw, 22.5rem);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px #8b8888b9;
    & img{
        width: clamp(1rem, -3.693rem + 21.827vw, 22.5rem);
        height: clamp(1rem, -2.056rem + 14.213vw, 15rem);
        object-fit:scale-down

    }
}
.span-container{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #000;

    & span{
        font-size: 13px;
        font-weight: 400;
    }
}
.card-content{
    padding: 15px 19px 17px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & h3{
        font-size: 22px;
        font-weight: 600;
        color: #000;
    }
    & p{
        font-size: 15px;
        font-weight: 400;
        color: #000;
    }

}
footer{
    background-color: #252424;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container{
    width: clamp(1rem, -15.698rem + 77.665vw, 77.5rem);
    display: flex;
    flex-direction: column;
    padding: 57px 24px;
}
.ft-wrap{
    width: 100%;
    display: flex;
    gap: clamp(1rem, 0.1rem + 4.188vw, 5.125rem);

}
.tech-blog-cont{
    width: clamp(1rem, -2.82rem + 17.766vw, 18.5rem);
    color: #fff;

    & h3{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 11px;
    }
    & p{
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        color: #A1A1A6;
    }
}

.ft-cat{
    color: #fff;
    & h3{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 11px;
    }
    & ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    & a{
        text-decoration: none;
        color: #A1A1A6;
        font-size: 14px;
        font-weight: 400;
    }
    & li:hover a{
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: #0000ff;
    }
}
.contact-us{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    & h3{
        font-size: 20px;
        font-weight: 600;
    }
    & a{
        text-decoration: none;
        color: #A1A1A6;
        font-size: 14px;
        font-weight: 400;
    }
    & p{
        font-size: 14px;
        font-weight: 400;
        color: #A1A1A6;
    }

    & a:hover, & p:hover{
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: #0000ff;
    }
}



.privacy-container{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #86868B;
    font-size: 13px;
    font-weight: 600;
    background-color: #000;
}

