*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: background: #F5F5F7;
;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;

    & .tech-btn{
        margin: 0 auto;
        padding: 11px 19px 10px 23px;
        background-color:  #F0EDFF;


        & a{
            text-decoration: none;
            font-size: 24px;
            font-weight: bold;
            color: #5B47D1;
            border: 2px solid #dc2525;
            text-align: center;

        }
        
    }

}
& .tech-btn:hover{
            border: 1px solid #2c5cce;
        }
nav {
    text-align: center;
    
    & ul{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 25px;
        align-items: center;
    }



    & a {
        text-decoration: none;
        color: #000;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }

        & a:hover {
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }
}